table {
    border-collapse:collapse;
}

.configContainer {
    display: block;
}
.adminContainer {
    margin: 2em;
}

.separator {
    border-bottom: 1px solid #333333;
}

#config {

}

#config td {
    width: 100px;
}

#match-wrapper {
}

