@font-face {
	font-family: 'Font'; /*a name to be used later*/
	src: url('/font'); /*URL to font*/
}

/*
Let's do the math: 1080p = 1920x1080 (16:9) cutting it to 4:3 results in (1440x1080) 480px width
					720p = 1280x720  (16:9) cutting it to 4:3 results in (960x720) 320px width
*/

body.client{
	height: 720px;
	width: 320px;
	margin: 0;
	padding: 0;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}

body{
	margin: 0;
	padding: 0;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}

body.green{
	background-color: #00ff00;
	height: 720px;
}


header, footer{
	display: inline;
	position: fixed;
	height: 28px;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 11px;

}
header{
	font-weight: bold;
}
header > div:last-child{
	position: absolute;
	left: 250px;
	top: 0;
	font-weight: normal;

}

footer > div:last-child{
	position: absolute;
	left: 250px;
	top: 0px;
	font-weight: normal;
}
.innerBody {
	width: 320px;
	height: 720px;
	display: inline-block;
	position: fixed;
	background-color: #00ff00;

}

input{
	height: 1.5em;
	font-size: 14px;
}
#content{
	margin: 48px 0.5em;
	list-style: none;
}

header h1, footer h1 {
	font-size: 28px;
	font-family: 'Font', sans-serif;
	color: black;
	display: inline;
}

fieldset {
	border: none;
}

footer {
	top: 670px;
}

.qty {
	width: 40px;
	height: 25px;
	text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.picks img {
	height: 42px;
	width: 42px;
}

.bans img {
	height: 42px;
	width: 42px;
}

th img {
	height: 50px;
	width: 50px;
}


.score {
	right: 0;
	background-color: #ff9800;
	padding: 14px;
	font-family: 'Font', sans-serif;
	font-size: 28px;
	width: 22px;
	height: 22px;
	text-align: center;
}

.hidden {
	display: none;
}

.shown {
	display: inline;
}
.picks {
	display: inline;
}
.bans {
	display: inline;
	float: right;
}

#picksAndBanA {
	top: 230px;
	position: absolute;
	display: inline;
	width: 272px;
	padding: 12px;
	padding-left: 24px;
	padding-right 24px;
}
#picksAndBanB {
	top: 418px;
	position: absolute;
	display: inline;
	width: 272px;
	padding: 12px;
	padding-left: 24px;
	padding-right 24px;
}


.picksB {

}

.btn {
	width: 200px;
	height: 50px;
}

@-webkit-keyframes greenPulse {
	from { background-color: #8f8a8e; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #e0d9db; -webkit-box-shadow: 0 0 18px #e6dbe0; }
	to { background-color: #8f8a8e; -webkit-box-shadow: 0 0 9px #333; }
}

a.green.button {
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

input[type="checkbox"] {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

th {
	width: 100px;
}

#lowerStream {
	position: absolute;
	background-color: black;
	width: 320px;
	height: 180px;
	top: 490px;
}
#upperStream {
	position: absolute;
	background-color: black;
	width: 320px;
	height: 180px;
	top: 50px;
}