@font-face {
	font-family: 'Font'; /*a name to be used later*/
	src: url('/font/lhf.ttf'); /*URL to font*/
}

/*
Let's do the math: 1080p = 1920x1080 (16:9) cutting it to 4:3 results in (1440x1080) 480px width
					720p = 1280x720  (16:9) cutting it to 4:3 results in (960x720) 320px width
*/

body.client{
	height: 1080px;
	width: 480px;
	margin: 0;
	padding: 0;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}

body{
	margin: 0;
	padding: 0;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #333;
}

body.green{
	background-color: rgba(0,255,0,0);
	height: 1080px;
}


header{
	display: inline;
	position: fixed;
	color: white;
	height: 42px;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 21px;
	padding-top: 21px;
	padding-bottom: 11px
}

footer{
	display: inline;
	position: fixed;
	color: white;
	height: 42px;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 21px;
	padding-top: 11px;
	padding-bottom: 21px
}


header{
	font-weight: bold;
}
header > div:last-child{
	position: absolute;
	left: 403px;
	top: 0;
	font-weight: normal;

}

footer > div:last-child{
	position: absolute;
	left: 403px;
	top: 0px;
	font-weight: normal;
}
.innerBody {
	width: 480px;
	height: 1080px;
	display: inline-block;
	position: fixed;
	background-color: rgba(0,255,0,1);

}

input{
	height: 1.5em;
	font-size: 14px;
}
#content{
	margin: 48px 0.5em;
	list-style: none;
}

.name {
	font-size: 42px;
	font-family: 'Font', sans-serif;
	width:  400px;
}

fieldset {
	border: none;
}

footer {
	top: 1005px;
	font-weight: bold;
}

.qty {
	width: 40px;
	height: 25px;
	text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.picks img {
	height: 66px;
	width: 66px;
}

.bans img {
	height: 66px;
	width: 66px;
}

th img {
	height: 75px;
	width: 75px;
}


.score {
	right: 0;
	padding: 21px;
	font-family: 'Font', sans-serif;
	font-size: 42px;
	width: 33px;
	height: 33px;
	text-align: center;
	display: inline;
}
footer .score {
	padding-top: 11px;
	padding-bottom: 21px
}

.hidden {
	display: none;
}

.shown {
	display: inline;
}
.picks {
	display: inline;
}
.bans {
	display: inline;
	float: right;
}

#picksAndBanA {
	top: 65px;
	position: absolute;
	display: inline;
	width: 436px;
	padding: 18px 21px;
}
#picksAndBanB {
	top: 915px;
	position: absolute;
	display: inline;
	width: 436px;
	padding: 18px 21px;
}


.picksB {

}

.btn {
	width: 200px;
	height: 75px;
}

@-webkit-keyframes greenPulse {
	from { background-color: #8f8a8e; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #e0d9db; -webkit-box-shadow: 0 0 18px #e6dbe0; }
	to { background-color: #8f8a8e; -webkit-box-shadow: 0 0 9px #333; }
}

a.green.button {
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

input[type="checkbox"] {
	width: 100%;
	margin: 0 0 0 0;
}

th {
	width: 100px;
}

#lowerStream {
	position: absolute;
	background-color: black;
	width: 480px;
	height: 270px;
	top: 735px;
}
#upperStream {
	position: absolute;
	background-color: black;
	width: 480px;
	height: 270px;
	top: 75px;
}